@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --window-height: 450px;
    --window-width: 300px;
    --border-width: 1px;
    --border-subtle: var(--border-width) solid rgb(226, 226, 226);
    --header-height: 72px;
    --content-header-height: 50px;
    --footer-height: 20px;
    --sidebar-width: 180px;
  }

  body {
    @apply scroll-smooth;
    height: var(--window-height);
    width: var(--window-width);
    min-height: var(--window-height);
    min-width: var(--window-width);
    overflow: hidden;
  }

  .loading-container {
    opacity: 0;
  }

  .loading-container.show {
    opacity: 1;
    transform: translateY(0px);
    animation: slide-up-show 250ms forwards;
  }

  .loading-container.hide {
    animation: slide-up-hide 250ms forwards;
  }

  @keyframes slide-up-show {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes slide-up-hide {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
}
